.wrap-form {
    margin-top: 10%
}
.form-horizontal {
    width: 30%;
    margin: 0 auto;
}
.wrap-table {
    width: 70%;
    padding-left: 10px;
}
.wrap-primary {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.wrap-field {
    width: 35%;
    padding-left: 10px;
}
.wrap-field table>tbody>tr>td {
    border-top: 0px;
}
select {
    height: 26px !important;
    padding: 1px 0px !important;
}
img {
    height: 30px;
}

/**img zoom*/
#bigimg {
    position: absolute;
    display: none;
}
#bigimg img {
    width: auto;
    height: auto;
    padding: 5px;
    background: #fff;
    border: 1px solid #e3e3e3;
}
